<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
</head>

<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">学员名单成绩表</h3>
            </div>
            <div class="panel-body form-inline">
                <form action="">
                    <input type="text" placeholder="请输入姓名" v-model="name">
                    <input type="text" placeholder="请输入班级" v-model="bj">
                    <input type="number" placeholder="请输入年龄" v-model="nl">
                    <input type="number" placeholder="请输入成绩" v-model="cj">
                    <input type="button" value="添加" @click="tj">
                </form>
            </div>
        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>班级</th>
                    <th>年龄</th>
                    <th>成绩</th>
                    <th>修改</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='value,i in list'>
                    <td>{{ value.name }}</td>
                    <td>{{ value.bj }}</td>
                    <td>{{ value.nl }}</td>
                    <td>{{ value.cj }}</td>
                    <td>
                        <input type="button" value="修改" @click='xg(i)'>
                    </td>
                    <td>
                        <input type="button" value="删除" @click='sc(i)'>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                name: '',
                bj: '',
                nl: '',
                cj: '',
                list: [{
                    name: '老九',
                    bj: '计算机1班',
                    nl: '17',
                    cj: '25分'
                }]
            },
            methods: {
                tj() {
                    if (this.name != '') {
                        if (this.bj != '') {
                            if (this.nl != '') {
                                if (this.cj != '') {
                                    this.list.push({
                                        name: this.name,
                                        bj: this.bj,
                                        nl: this.nl,
                                        cj: this.cj
                                    })
                                    this.name = this.bj = this.nl = this.cj = ""
                                } else {
                                    alert("请出入成绩")
                                }
                            } else {
                                alert("请输入年龄")
                            }
                        } else {
                            alert("请输入班级")
                        }
                    } else {
                        alert("请输入姓名")
                    }
                    // this.list.push({
                    //     name: this.name,
                    //     bj: this.bj,
                    //     nl: this.nl,
                    //     cj: this.cj
                    // })
                },
                xg(i) {
                    let cj = prompt("请输入要修改的成绩")
                        this.list[i].cj = cj
                },
                sc(i) {
                    if (confirm("是否删除")) {
                        this.list.splice(i, 1)
                    }
                }
            },
        })
    </script>
</body>

</html>